:root {
  --main-green: #00e676;
  --main-green-light: #a8ff78;
  --main-green-dark: #00c853;
  --accent-pink: #ff80ab;
  --accent-yellow: #fff176;
  --accent-blue: #40c4ff;
  --text-dark: #222;
  --text-light: #fff;
}
